<div class = "ask">
  <%= link_to "Ask", ask_path %> <br> <br>
</div>
<div class = "container">
  <div class = "question">
    <%= @question %>
    <p> - You </p>
  </div>
  <div class = "answer">
    <%= @answer %>
    <p> - Your Coach </p>
  </div>
</div>
